<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/Layout :: Head"/>

<body>

<header th:replace="Layout/Layout :: NavBar"/>

<div class="jumbotron">
	<h3 class="font-weight-bold">Detalle Factura</h3>

</div>


<table class="table table-striped">
		<thead>
			<tr class="font-weight-bold">
				<th>Numero Detalle</th>
				<th>Cantidad</th>
				<th>Porcentaje de Ganancia</th>
				<th>Codigo Articulo</th>
				<th>Numero de Factura</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="detalle: ${Listado}">
				<td th:text="${detalle.numeroDetalleFactura}"></td>
				<td th:text="${detalle.cantidad}"></td>
				<td th:text="${detalle.porcentajeGanancia}"></td>
				<td th:text="${detalle.articulocodArticulo.codArticulo}"></td>
				<td th:text="${detalle.facturanumeroFactura.numeroFactura}"></td>
				
			</tr>
		</tbody>
	</table>


<footer th:replace="Layout/Layout :: Footer"></footer>

</body>
</html>