<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/Layout :: Head" />

<body>

	<header th:replace="Layout/Layout :: NavBar"></header>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<form th:action="@{/crear/factura}" th:object="${Ingreso}"
			method="post">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Numero Factura</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{numeroFactura}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('numeroFactura')}"
						th:errors="*{numeroFactura}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Numero Cliente Registrado</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{numeroCliente}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('numeroCliente')}"
						th:errors="*{numeroCliente}"></small>
				</div>
			</div>
			
		<div class="form-group row">
				<label class="col-sm-2 col-form-label">Numero Articulo Registrado</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{numeroArticulo}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('numeroArticulo')}"
						th:errors="*{numeroArticulo}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Numero Articulo Registrado</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{cantidad}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('cantidad')}"
						th:errors="*{cantidad}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Factura" class="btn btn-primary" />
					<a th:href="@{/crear/factura}" class="btn btn-primary">Volver</a>
				</div>

			</div>

		</form>
	</div>
</body>
</html>