<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/Layout :: Head"/>

<body>

<header th:replace="Layout/Layout :: NavBar"/>


	<table class="table table-striped">
		<thead>
			<tr class="font-weight-bold">
				<th>CIF_Cliente</th>
				<th>Nombre</th>
				<th>PrimerApellido</th>
				<th>Segundo Apellido</th>
				<th>Nombre Empresa</th>
				<th>Direccion</th>
				<th>Ciudad</th>
				<th>CP</th>
				<th>Provincia</th>
				<th>Pais</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${Listado}">
				<td th:text="${cliente.cifCliente}"></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}"></td>
				<td th:text="${cliente.segundoApellido}"></td>
				<td th:text="${cliente.nombreEmpresa}"></td>
				<td th:text="${cliente.direccion}"></td>
				<td th:text="${cliente.ciudad}"></td>
				<td th:text="${cliente.provincia}"></td>
				<td th:text="${cliente.pais}"></td>
			</tr>
		</tbody>
	</table>
</body>
<footer th:replace="Layout/Layout :: Footer"></footer>
</html>
