<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<table class="table table-striped">
			<thead >
				<tr class="font-weight-bold">
					<th >CIF_Cliente</th>
					<th >Nombre</th>
					<th >PrimerApellido</th>
					<th >Segundo Apellido</th>
					<th >Nombre Empresa</th>
					<th >Direccion</th>
					<th >Ciudad</th>
					<th >CP</th>
					<th >Provincia</th>
					<th >Pais</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="cliente: ${Listado}">
					<td th:text="${cliente.cIFCliente}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.apellido2}"></td> 
					<td th:text="${cliente.nombreEmpresa}"></td>   
					<td th:text="${cliente.direccion}"></td> 
					<td th:text="${cliente.ciudad}"></td> 
					<td th:text="${cliente.provincia}"></td> 
					<td th:text="${cliente.pais}"></td> 
				
				</tr>
				
				
			</tbody>

		</table>
















	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
